/* 선택자 { 속성: 값; } */

.custom-cursor {
    cursor: url('스크린/mike.png'), auto; /* 커서 이미지 설정 */
}

/* 단일 선택자에 스타일을 적용하는 예시 */
h2 {
    color: rgb(255, 71, 30); /* 모든 단락의 텍스트 색상을 파란색으로 지정 */
    font-size: 50px; /* 모든 단락의 글꼴 크기를 16픽셀로 지정 */
    
}

.h2-text {
    color: rgb(255, 71, 30); /* 모든 단락의 텍스트 색상을 파란색으로 지정 */
    font-size: 48px; /* 모든 단락의 글꼴 크기를 16픽셀로 지정 */
    line-height: 0.7; /* 모든 단락의 행간을 글꼴 크기의 1.5배로 지정 */
}

p {
    color: rgb(0, 0, 0); /* 모든 단락의 텍스트 색상을 파란색으로 지정 */
    font-size: 16px; /* 모든 단락의 글꼴 크기를 16픽셀로 지정 */
    line-height: 1.5; /* 모든 단락의 행간을 글꼴 크기의 1.5배로 지정 */
}
.blue-text {
    color: blue; /* 파란색 텍스트 */
}

.orange-text {
    color: rgb(255, 71, 30); /* 오렌지 텍스트 */
}

.gray-text {
    color: rgb(83, 83, 83); /* 회색 텍스트 */
}

.footer-text {
    font-size: 12px; /* 폰트 크기를 18픽셀로 지정 */
    color: #333; /* 텍스트 색상을 회색(#333)으로 지정 */
}

/* 클래스 선택자에 스타일을 적용하는 예시 */
.custom-text {
    font-weight: bold; /* custom-text 클래스를 가진 요소의 텍스트를 굵게 지정 */
}

/* ID 선택자에 스타일을 적용하는 예시 */
#header {
    background-color: #0080ff; /* header ID를 가진 요소의 배경색을 회색으로 지정 */
}

/* 그 외에 다양한 선택자들 */
div p {
    margin-bottom: 10px; /* 모든 div 요소 안에 있는 단락들의 아래 여백을 10픽셀로 지정 */
}

a:hover {
    color: red; /* 링크에 마우스를 올렸을 때의 텍스트 색상을 빨간색으로 지정 */
}
